body{
    font-size: small;
}

@media not print {

    body[data-theme="dark"] .highlight body[data-theme="dark"] .hll { background-color: #ebdbb2 }
    body[data-theme="dark"] .highlight { background: #282828; color: #dddddd }
    body[data-theme="dark"] .highlight .c { color: #928374; font-style: italic } /* Comment */
    body[data-theme="dark"] .highlight .err { color: #282828; background-color: #fb4934 } /* Error */
    body[data-theme="dark"] .highlight .esc { color: #dddddd } /* Escape */
    body[data-theme="dark"] .highlight .g { color: #dddddd } /* Generic */
    body[data-theme="dark"] .highlight .k { color: #fb4934 } /* Keyword */
    body[data-theme="dark"] .highlight .l { color: #dddddd } /* Literal */
    body[data-theme="dark"] .highlight .n { color: #dddddd } /* Name */
    body[data-theme="dark"] .highlight .o { color: #dddddd } /* Operator */
    body[data-theme="dark"] .highlight .x { color: #dddddd } /* Other */
    body[data-theme="dark"] .highlight .p { color: #dddddd } /* Punctuation */
    body[data-theme="dark"] .highlight .ch { color: #928374; font-style: italic } /* Commentbody[data-theme="dark"] .hashbang */
    body[data-theme="dark"] .highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
    body[data-theme="dark"] .highlight .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
    body[data-theme="dark"] .highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
    body[data-theme="dark"] .highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
    body[data-theme="dark"] .highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
    body[data-theme="dark"] .highlight .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
    body[data-theme="dark"] .highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
    body[data-theme="dark"] .highlight .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
    body[data-theme="dark"] .highlight .gr { color: #fb4934 } /* Generic.Error */
    body[data-theme="dark"] .highlight .gh { color: #ebdbb2; font-weight: bold } /* Genericbody[data-theme="dark"] .heading */
    body[data-theme="dark"] .highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
    body[data-theme="dark"] .highlight .go { color: #f2e5bc } /* Generic.Output */
    body[data-theme="dark"] .highlight .gp { color: #a89984 } /* Generic.Prompt */
    body[data-theme="dark"] .highlight .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
    body[data-theme="dark"] .highlight .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
    body[data-theme="dark"] .highlight .gt { color: #fb4934 } /* Generic.Traceback */
    body[data-theme="dark"] .highlight .kc { color: #fb4934 } /* Keyword.Constant */
    body[data-theme="dark"] .highlight .kd { color: #fb4934 } /* Keyword.Declaration */
    body[data-theme="dark"] .highlight .kn { color: #fb4934 } /* Keyword.Namespace */
    body[data-theme="dark"] .highlight .kp { color: #fb4934 } /* Keyword.Pseudo */
    body[data-theme="dark"] .highlight .kr { color: #fb4934 } /* Keyword.Reserved */
    body[data-theme="dark"] .highlight .kt { color: #fb4934 } /* Keyword.Type */
    body[data-theme="dark"] .highlight .ld { color: #dddddd } /* Literal.Date */
    body[data-theme="dark"] .highlight .m { color: #d3869b } /* Literal.Number */
    body[data-theme="dark"] .highlight .s { color: #b8bb26 } /* Literal.String */
    body[data-theme="dark"] .highlight .na { color: #fabd2f } /* Name.Attribute */
    body[data-theme="dark"] .highlight .nb { color: #fe8019 } /* Name.Builtin */
    body[data-theme="dark"] .highlight .nc { color: #8ec07c } /* Name.Class */
    body[data-theme="dark"] .highlight .no { color: #d3869b } /* Name.Constant */
    body[data-theme="dark"] .highlight .nd { color: #fb4934 } /* Name.Decorator */
    body[data-theme="dark"] .highlight .ni { color: #dddddd } /* Name.Entity */
    body[data-theme="dark"] .highlight .ne { color: #fb4934 } /* Name.Exception */
    body[data-theme="dark"] .highlight .nf { color: #8ec07c } /* Name.Function */
    body[data-theme="dark"] .highlight .nl { color: #dddddd } /* Name.Label */
    body[data-theme="dark"] .highlight .nn { color: #8ec07c } /* Name.Namespace */
    body[data-theme="dark"] .highlight .nx { color: #dddddd } /* Name.Other */
    body[data-theme="dark"] .highlight .py { color: #dddddd } /* Name.Property */
    body[data-theme="dark"] .highlight .nt { color: #8ec07c } /* Name.Tag */
    body[data-theme="dark"] .highlight .nv { color: #83a598 } /* Name.Variable */
    body[data-theme="dark"] .highlight .ow { color: #fb4934 } /* Operator.Word */
    body[data-theme="dark"] .highlight .pm { color: #dddddd } /* Punctuation.Marker */
    body[data-theme="dark"] .highlight .w { color: #dddddd } /* Text.Whitespace */
    body[data-theme="dark"] .highlight .mb { color: #d3869b } /* Literal.Number.Bin */
    body[data-theme="dark"] .highlight .mf { color: #d3869b } /* Literal.Number.Float */
    body[data-theme="dark"] .highlight .mh { color: #d3869b } /* Literal.Numberbody[data-theme="dark"] .hex */
    body[data-theme="dark"] .highlight .mi { color: #d3869b } /* Literal.Number.Integer */
    body[data-theme="dark"] .highlight .mo { color: #d3869b } /* Literal.Number.Oct */
    body[data-theme="dark"] .highlight .sa { color: #b8bb26 } /* Literal.String.Affix */
    body[data-theme="dark"] .highlight .sb { color: #b8bb26 } /* Literal.String.Backtick */
    body[data-theme="dark"] .highlight .sc { color: #b8bb26 } /* Literal.String.Char */
    body[data-theme="dark"] .highlight .dl { color: #b8bb26 } /* Literal.String.Delimiter */
    body[data-theme="dark"] .highlight .sd { color: #b8bb26 } /* Literal.String.Doc */
    body[data-theme="dark"] .highlight .s2 { color: #b8bb26 } /* Literal.String.Double */
    body[data-theme="dark"] .highlight .se { color: #fe8019 } /* Literal.String.Escape */
    body[data-theme="dark"] .highlight .sh { color: #b8bb26 } /* Literal.Stringbody[data-theme="dark"] .heredoc */
    body[data-theme="dark"] .highlight .si { color: #b8bb26 } /* Literal.String.Interpol */
    body[data-theme="dark"] .highlight .sx { color: #b8bb26 } /* Literal.String.Other */
    body[data-theme="dark"] .highlight .sr { color: #b8bb26 } /* Literal.String.Regex */
    body[data-theme="dark"] .highlight .s1 { color: #b8bb26 } /* Literal.String.Single */
    body[data-theme="dark"] .highlight .ss { color: #b8bb26 } /* Literal.String.Symbol */
    body[data-theme="dark"] .highlight .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
    body[data-theme="dark"] .highlight .fm { color: #8ec07c } /* Name.Function.Magic */
    body[data-theme="dark"] .highlight .vc { color: #83a598 } /* Name.Variable.Class */
    body[data-theme="dark"] .highlight .vg { color: #83a598 } /* Name.Variable.Global */
    body[data-theme="dark"] .highlight .vi { color: #83a598 } /* Name.Variable.Instance */
    body[data-theme="dark"] .highlight .vm { color: #83a598 } /* Name.Variable.Magic */
    body[data-theme="dark"] .highlight .il { color: #d3869b } /* Literal.Number.Integer.Long */
}
@media (prefers-color-scheme: dark) {

    body[data-theme="dark"] .highlight body[data-theme="dark"] .hll { background-color: #ebdbb2 }
    body[data-theme="dark"] .highlight { background: #282828; color: #dddddd }
    body[data-theme="dark"] .highlight .c { color: #928374; font-style: italic } /* Comment */
    body[data-theme="dark"] .highlight .err { color: #282828; background-color: #fb4934 } /* Error */
    body[data-theme="dark"] .highlight .esc { color: #dddddd } /* Escape */
    body[data-theme="dark"] .highlight .g { color: #dddddd } /* Generic */
    body[data-theme="dark"] .highlight .k { color: #fb4934 } /* Keyword */
    body[data-theme="dark"] .highlight .l { color: #dddddd } /* Literal */
    body[data-theme="dark"] .highlight .n { color: #dddddd } /* Name */
    body[data-theme="dark"] .highlight .o { color: #dddddd } /* Operator */
    body[data-theme="dark"] .highlight .x { color: #dddddd } /* Other */
    body[data-theme="dark"] .highlight .p { color: #dddddd } /* Punctuation */
    body[data-theme="dark"] .highlight .ch { color: #928374; font-style: italic } /* Commentbody[data-theme="dark"] .hashbang */
    body[data-theme="dark"] .highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
    body[data-theme="dark"] .highlight .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
    body[data-theme="dark"] .highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
    body[data-theme="dark"] .highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
    body[data-theme="dark"] .highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
    body[data-theme="dark"] .highlight .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
    body[data-theme="dark"] .highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
    body[data-theme="dark"] .highlight .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
    body[data-theme="dark"] .highlight .gr { color: #fb4934 } /* Generic.Error */
    body[data-theme="dark"] .highlight .gh { color: #ebdbb2; font-weight: bold } /* Genericbody[data-theme="dark"] .heading */
    body[data-theme="dark"] .highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
    body[data-theme="dark"] .highlight .go { color: #f2e5bc } /* Generic.Output */
    body[data-theme="dark"] .highlight .gp { color: #a89984 } /* Generic.Prompt */
    body[data-theme="dark"] .highlight .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
    body[data-theme="dark"] .highlight .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
    body[data-theme="dark"] .highlight .gt { color: #fb4934 } /* Generic.Traceback */
    body[data-theme="dark"] .highlight .kc { color: #fb4934 } /* Keyword.Constant */
    body[data-theme="dark"] .highlight .kd { color: #fb4934 } /* Keyword.Declaration */
    body[data-theme="dark"] .highlight .kn { color: #fb4934 } /* Keyword.Namespace */
    body[data-theme="dark"] .highlight .kp { color: #fb4934 } /* Keyword.Pseudo */
    body[data-theme="dark"] .highlight .kr { color: #fb4934 } /* Keyword.Reserved */
    body[data-theme="dark"] .highlight .kt { color: #fb4934 } /* Keyword.Type */
    body[data-theme="dark"] .highlight .ld { color: #dddddd } /* Literal.Date */
    body[data-theme="dark"] .highlight .m { color: #d3869b } /* Literal.Number */
    body[data-theme="dark"] .highlight .s { color: #b8bb26 } /* Literal.String */
    body[data-theme="dark"] .highlight .na { color: #fabd2f } /* Name.Attribute */
    body[data-theme="dark"] .highlight .nb { color: #fe8019 } /* Name.Builtin */
    body[data-theme="dark"] .highlight .nc { color: #8ec07c } /* Name.Class */
    body[data-theme="dark"] .highlight .no { color: #d3869b } /* Name.Constant */
    body[data-theme="dark"] .highlight .nd { color: #fb4934 } /* Name.Decorator */
    body[data-theme="dark"] .highlight .ni { color: #dddddd } /* Name.Entity */
    body[data-theme="dark"] .highlight .ne { color: #fb4934 } /* Name.Exception */
    body[data-theme="dark"] .highlight .nf { color: #8ec07c } /* Name.Function */
    body[data-theme="dark"] .highlight .nl { color: #dddddd } /* Name.Label */
    body[data-theme="dark"] .highlight .nn { color: #8ec07c } /* Name.Namespace */
    body[data-theme="dark"] .highlight .nx { color: #dddddd } /* Name.Other */
    body[data-theme="dark"] .highlight .py { color: #dddddd } /* Name.Property */
    body[data-theme="dark"] .highlight .nt { color: #8ec07c } /* Name.Tag */
    body[data-theme="dark"] .highlight .nv { color: #83a598 } /* Name.Variable */
    body[data-theme="dark"] .highlight .ow { color: #fb4934 } /* Operator.Word */
    body[data-theme="dark"] .highlight .pm { color: #dddddd } /* Punctuation.Marker */
    body[data-theme="dark"] .highlight .w { color: #dddddd } /* Text.Whitespace */
    body[data-theme="dark"] .highlight .mb { color: #d3869b } /* Literal.Number.Bin */
    body[data-theme="dark"] .highlight .mf { color: #d3869b } /* Literal.Number.Float */
    body[data-theme="dark"] .highlight .mh { color: #d3869b } /* Literal.Numberbody[data-theme="dark"] .hex */
    body[data-theme="dark"] .highlight .mi { color: #d3869b } /* Literal.Number.Integer */
    body[data-theme="dark"] .highlight .mo { color: #d3869b } /* Literal.Number.Oct */
    body[data-theme="dark"] .highlight .sa { color: #b8bb26 } /* Literal.String.Affix */
    body[data-theme="dark"] .highlight .sb { color: #b8bb26 } /* Literal.String.Backtick */
    body[data-theme="dark"] .highlight .sc { color: #b8bb26 } /* Literal.String.Char */
    body[data-theme="dark"] .highlight .dl { color: #b8bb26 } /* Literal.String.Delimiter */
    body[data-theme="dark"] .highlight .sd { color: #b8bb26 } /* Literal.String.Doc */
    body[data-theme="dark"] .highlight .s2 { color: #b8bb26 } /* Literal.String.Double */
    body[data-theme="dark"] .highlight .se { color: #fe8019 } /* Literal.String.Escape */
    body[data-theme="dark"] .highlight .sh { color: #b8bb26 } /* Literal.Stringbody[data-theme="dark"] .heredoc */
    body[data-theme="dark"] .highlight .si { color: #b8bb26 } /* Literal.String.Interpol */
    body[data-theme="dark"] .highlight .sx { color: #b8bb26 } /* Literal.String.Other */
    body[data-theme="dark"] .highlight .sr { color: #b8bb26 } /* Literal.String.Regex */
    body[data-theme="dark"] .highlight .s1 { color: #b8bb26 } /* Literal.String.Single */
    body[data-theme="dark"] .highlight .ss { color: #b8bb26 } /* Literal.String.Symbol */
    body[data-theme="dark"] .highlight .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
    body[data-theme="dark"] .highlight .fm { color: #8ec07c } /* Name.Function.Magic */
    body[data-theme="dark"] .highlight .vc { color: #83a598 } /* Name.Variable.Class */
    body[data-theme="dark"] .highlight .vg { color: #83a598 } /* Name.Variable.Global */
    body[data-theme="dark"] .highlight .vi { color: #83a598 } /* Name.Variable.Instance */
    body[data-theme="dark"] .highlight .vm { color: #83a598 } /* Name.Variable.Magic */
    body[data-theme="dark"] .highlight .il { color: #d3869b } /* Literal.Number.Integer.Long */
    }
    